body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Verdana, Arial;

    .notifications-container {
        width: 40vw;
        position: fixed;
        background: transparent;
        pointer-events: none;
        top: 20px;
        left: 30vw;

        .notice {
            width: 100%;
            height: 40px;
            border-radius: 4px;
            border: 1px solid;
            padding: 5px 20px;
            line-height: 30px;

            &.success {
                background: $color-lightest;
            }

            &.warning {
                background-color: $color-yellow;
            }

            &.failure {
                background: $color-red;
            }
        }
    }

    .floating-container {
        height: 80vh;
        width: 40vw;
        min-width: 200px;
        margin: 10vh 30vw;
        background: $color-light;
        border-radius: 4px;

        .user-strip {
            height: 41px;
            border-bottom: 1px solid;
            background: $color-dark;
            display: flex;
            position: relative;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;

            > input {
                height: 40px;
                margin: 0;
                width: calc(100% - 80px);
                border-radius: 0;
                background: none;
                color: $color-white;
                border: none;
                padding: 0 50px 0 20px;
                display: inline-flex;
            }

            .switch-user-button {
                height: 40px;
                width: 80px;
                display: inline-flex;
                cursor: pointer;
                justify-content: center;
                align-items: center;
                border-left: 1px solid;
                background: $color-dark;
                color: $color-white;
                border-top-right-radius: 5px;
                transition: all 0.3s ease;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;

                &:hover {
                    opacity: 0.6;
                }

                &:active {
                    background: lighten($color-dark, 20%);
                }
            }

            .loading {
                position: absolute;
                width: 40px;
                height: 40px;
                top: 0;
                right: 80px;
                animation: linear rotation infinite 0.5s;
                visibility: hidden;

                &::after {
                    content: '.';
                    color: transparent;
                    display: block;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background: $color-dark;
                    position: absolute;
                    top: 3px;
                    left: 3px;
                }

                &::before {
                    content: '.';
                    color: transparent;
                    display: block;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background: $color-white;
                    position: absolute;
                    top: 5px;
                    left: 5px;
                }

                &.visible {
                    visibility: visible;
                }
            }
        }

        .tweets-container {
            overflow-x: hidden;
            overflow-y: auto;
            height: calc(100% - 41px);

            .tweet {
                margin: 20px;
                border-bottom: 1px solid;
                padding-bottom: 20px;

                &-created-at {
                    float: right;
                    font-size: 10px;
                }

                .user, .hashtag {
                    text-decoration: none;
                    color: $color-darkest;
                    font-weight: bold;
                }
            }
        }
    }
}

@keyframes rotation {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(90deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
}