<template>
    <v-app>
        <v-alert
                class="notice"
                :value="alertDisplay"
                :type="alertType"
        >
            {{ alertText }}
        </v-alert>
        <v-content>
            <floating-container>
                <user-strip></user-strip>
                <tweets-container></tweets-container>
            </floating-container>
        </v-content>
    </v-app>
</template>

<script>
    import FloatingContainer from './components/floating-container';
    import UserStrip from './components/user-strip';
    import TweetsContainer from './components/tweets-container';
    import { mapState } from 'vuex';

    export default {
        name: 'App',
        components: {
            TweetsContainer,
            UserStrip,
            FloatingContainer
        },
        computed: {
            ...mapState({
                alertText: state => state.alert.text,
                alertDisplay: state => state.alert.display,
                alertType: state => state.alert.type,
            })
        },
        created() {
            this.$store.dispatch('fetch');
        }
    };
</script>
