body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Verdana, Arial; }
  body * {
    box-sizing: border-box; }
  body .notifications-container {
    width: 40vw;
    position: fixed;
    background: transparent;
    pointer-events: none;
    top: 20px;
    left: 30vw; }
    body .notifications-container .notice {
      width: 100%;
      height: 40px;
      border-radius: 4px;
      border: 1px solid;
      padding: 5px 20px;
      line-height: 30px; }
      body .notifications-container .notice.success {
        background: #C5DABF; }
      body .notifications-container .notice.warning {
        background-color: #dce653; }
      body .notifications-container .notice.failure {
        background: #dd8888; }
  body .floating-container {
    height: 80vh;
    width: 40vw;
    min-width: 200px;
    margin: 10vh 30vw;
    background: #9BC0B8;
    border-radius: 4px; }
    body .floating-container .user-strip {
      height: 41px;
      border-bottom: 1px solid;
      background: #375466;
      display: flex;
      position: relative;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px; }
      body .floating-container .user-strip > input {
        height: 40px;
        margin: 0;
        width: calc(100% - 80px);
        border-radius: 0;
        background: none;
        color: #FFFFFF;
        border: none;
        padding: 0 50px 0 20px;
        display: inline-flex; }
      body .floating-container .user-strip .switch-user-button {
        height: 40px;
        width: 80px;
        display: inline-flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        border-left: 1px solid;
        background: #375466;
        color: #FFFFFF;
        border-top-right-radius: 5px;
        transition: all 0.3s ease;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none; }
        body .floating-container .user-strip .switch-user-button:hover {
          opacity: 0.6; }
        body .floating-container .user-strip .switch-user-button:active {
          background: #5c8aa7; }
      body .floating-container .user-strip .loading {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        right: 80px;
        animation: linear rotation infinite 0.5s;
        visibility: hidden; }
        body .floating-container .user-strip .loading::after {
          content: '.';
          color: transparent;
          display: block;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: #375466;
          position: absolute;
          top: 3px;
          left: 3px; }
        body .floating-container .user-strip .loading::before {
          content: '.';
          color: transparent;
          display: block;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: #FFFFFF;
          position: absolute;
          top: 5px;
          left: 5px; }
        body .floating-container .user-strip .loading.visible {
          visibility: visible; }
    body .floating-container .tweets-container {
      overflow-x: hidden;
      overflow-y: auto;
      height: calc(100% - 41px); }
      body .floating-container .tweets-container .tweet {
        margin: 20px;
        border-bottom: 1px solid;
        padding-bottom: 20px; }
        body .floating-container .tweets-container .tweet-created-at {
          float: right;
          font-size: 10px; }
        body .floating-container .tweets-container .tweet .user, body .floating-container .tweets-container .tweet .hashtag {
          text-decoration: none;
          color: #0E1D2B;
          font-weight: bold; }

@keyframes rotation {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }
