<template>
    <section class="tweets-container">
        <tweet
                v-for="tweet in tweets"
                :key="tweet.id"
                :created-at="tweet.created_at"
                :text="tweet.text"
        ></tweet>
    </section>
</template>

<script>
    import Tweet from './tweet';
    import { mapState } from 'vuex';

    export default {
        name: 'tweets-container',
        components: {
            Tweet
        },
        computed: {
            ...mapState({
                tweets: state => state.tweets
            })
        }
    }
</script>