<template>
    <section class="tweet">
        <section v-html="content"></section>
        <span class="tweet-created-at">{{ createdDate }}</span>
    </section>
</template>

<script>
    export default {
        name: 'tweet',
        props: {
            text: {
                type: String,
                default: ''
            },
            createdAt: {
                type: String,
                default: ''
            }
        },
        computed: {
            content() {
                return this.text
                    .replace(/http/g, ' http')
                    .replace(/(https?:\/\/[^ ]+) ?/g, '<a href="$1" target="_blank" class="link">$1</a>')
                    .replace(
                        /(#([a-z]+))/gi,
                        '<a href="https://twitter.com/hashtag/$2?src=hashtag_click" target="_blank" class="hashtag">$1</a>'
                    )
                    .replace(
                        /(@([a-z_0-9]+))/gi,
                        '<a href="https://twitter.com/$2" target="_blank" class="user">$1</a>'
                    );
            },
            createdDate() {
                return new Date(Date.parse(this.createdAt))
                    .toLocaleString(
                        'en',
                        {
                            day: '2-digit',
                            month: '2-digit',
                            year: 'numeric',
                            hour: '2-digit',
                            minute: '2-digit'
                        }
                    );
            }
        }
    }
</script>