<template>
    <section class="user-strip">
        <v-text-field
                v-model="screenName"
                placeholder="Twitter Screen Name"
                dark
                @keyup="keyup"
        ></v-text-field>
        <v-progress-circular
                color="white"
                :indeterminate="loading"
                size="30"
        ></v-progress-circular>
        <v-btn
                class="switch-user-button"
                dark
                @click="switchUser"
        >
            Switch
        </v-btn>
    </section>
</template>

<script>
    import { mapState } from 'vuex';

    export default {
        name: 'user-strip',
        computed: {
            ...mapState({
                loading: state => state.loading,
                username: state => state.username
            }),
            screenName: {
                get() { return this.value !== '' ? this.value : this.username; },
                set(v) { this.value = v; }
            }
        },
        data() {
            return {
                value: ''
            };
        },
        methods: {
            switchUser() {
                this.$store.commit('setUsername', this.value);
                this.$store.dispatch('fetch');
            },
            /**
             * @param {object} e
             */
            keyup(e) {
                if (e.keyCode === 13) {
                    this.switchUser();
                }
            }
        }
    }
</script>