@import "color-pallete";

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Verdana, Arial;

    * {
        box-sizing: border-box;
    }

    .notice {
        width: 40vw;
        position: fixed;
        background: transparent;
        pointer-events: none;
        top: 20px;
        left: 30vw;
    }

    .floating-container {
        height: 80vh;
        width: 40vw;
        min-width: 200px;
        margin: 10vh 30vw;
        background: $color-light;
        border-radius: 4px;

        .user-strip {
            height: 41px;
            border-bottom: 1px solid;
            background: $color-dark;
            display: flex;
            position: relative;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;

            .v-input.v-text-field {
                padding: 4px 20px 0 20px;
                margin: 0;
            }

            .switch-user-button.v-btn.theme--dark {
                height: 40px;
                width: 80px;
                display: inline-flex;
                cursor: pointer;
                justify-content: center;
                align-items: center;
                border-left: 1px solid;
                background: $color-dark;
                color: $color-white;
                border-top-right-radius: 5px;
                transition: all 0.3s ease;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;

                &:hover {
                    opacity: 0.6;
                }

                &:active {
                    background: lighten($color-dark, 20%);
                }
            }

            .v-progress-circular {
                margin: 5px;
            }
        }

        .tweets-container {
            overflow-x: hidden;
            overflow-y: auto;
            height: calc(100% - 41px);

            .tweet {
                margin: 20px;
                border-bottom: 1px solid;
                padding-bottom: 20px;

                &-created-at {
                    float: right;
                    font-size: 10px;
                }

                .user, .hashtag {
                    text-decoration: none;
                    color: $color-darkest;
                    font-weight: bold;
                }
            }
        }
    }
}

@keyframes rotation {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(90deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
}